@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

input {
  @apply bg-transparent py-2 border-b border-b-blue-400 focus:outline-none focus:ring-0;
}

.reg-bg {
  background: url("./assets/bg/reg-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.phase{
  background: url("./assets/bg/phase-card.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-bg {
  background: url("./assets/bg/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'ArialLocal';
  src: url('/fonts/arial.TTF') format('truetype');
}
@font-face {
  font-family: 'Econo-Light';
  src: url('/fonts/EconoSansReduced-45Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Econo-Bold';
  src: url('/fonts/EconoSansReduced-95Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Aesthtic-Romance';
  src: url('/fonts/Aesthetic_Romance.ttf') format('truetype');
}

.arial-font {
  font-family: 'ArialLocal', sans-serif;
}
.econo-light{
  font-family: 'Econo-Light', sans-serif;
}
.econo-bold{
  font-family: 'Econo-Bold', sans-serif;
}
.phase-font{
  font-family: 'Aesthtic-Romance', sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* @media screen and (max-width: 640px){
  .hero-bg {
    background: url("./assets/bg/hero-bg.jpg");
    background-position: left;
  }
} */